[% INCLUDE modules/cms/header.tt title="New element" %]
[% META appkitfeature_tablesorter = 1 %]
[% PROCESS modules/cms/preprocess.tt %]

[% form.render | none %]

<script type="text/javascript">
    $('#editor-controls').load('/modules/cms/ajax/load_controls');
</script>
